.menu{


width:100%;

background:#245784;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 40px;

}



.logo{

font-size:24px;

font-weight:bold;

}



.opciones{

display:flex;

gap:20px;

align-items:center;

}



.opciones a{


color:white;

text-decoration:none;

font-weight:bold;

}



.opciones a:hover{

color:#22c55e;

}



.opciones button{


background:#ef4444;

border:none;

color:white;

padding:10px 20px;

border-radius:8px;

cursor:pointer;

font-weight:bold;

}



.opciones button:hover{

background:#dc2626;

}