body{

margin:0;

font-family:Arial, sans-serif;

background:#f1f4f8;

}



header{

background:#245b8a;

color:white;

text-align:center;

padding:25px;


}



.contenedor{

background:white;

margin:40px;

padding:25px;

border-radius:15px;


}



table{

width:100%;

border-collapse:collapse;


}



th{

background:#245b8a;

color:white;

padding:12px;


}



td{

padding:12px;

border-bottom:1px solid #ddd;

text-align:center;


}



button{


padding:8px 12px;

border:none;

border-radius:5px;

cursor:pointer;

margin:3px;


}



button:first-child{


background:#20c76a;

color:white;


}



button:last-child{


background:#e74c3c;

color:white;


}

.aprobar{

background:#20c997;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;

}



.rechazar{

background:#dc3545;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;

}

.menu-supervisor{

text-align:center;

margin:25px;

}


.menu-supervisor button{


background:#25618f;

color:white;

border:none;

padding:12px 25px;

font-size:16px;

border-radius:8px;

cursor:pointer;


}


.menu-supervisor button:hover{


background:#1d4f75;


}

.ver{

background:#25618f;

color:white;

border:none;

padding:7px 12px;

border-radius:6px;

cursor:pointer;

}


.ver:hover{

background:#1d4f75;

}